.image {
  width: 780px;
  height: 1024px;
  background-size: cover;
}

.inputEl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 660px;
  align-items: center;
}

.login {
  display: flex;
  background-color: #f8fafc;
  width: 1440px;
  height: 1024px;
}

.input-section {
  background-color: white;
  height: 484px;
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image2 {
  width: 141px;
  height: 48px;
}
